.app-section {
  width: 350px;
  border: 1px solid black;
  border-radius: 6px;

  &__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 24px;

    &--cores {
      color: white;
      width: 100%;
      text-align: left;
      list-style: none;
    }
  }
  .button {
    width: 250px;
  }
}
